{% extends "base.html" %}
    {% block styles %}
    {{super()}}

         <!--<style>-->
                   <!--body .container .leftDiv{-->
                     <!--background: #2f4050!important;-->
                   <!--}-->
          <!--</style>-->
    {% endblock %}

    {% block title %}Article{% endblock %}
    {% block head %}
        {{ super() }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Blog Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <!--<link href="blog.css" rel="stylesheet">-->

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><!--<!--<script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]&ndash;&gt;-->
        <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <!--<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
          <!--<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>-->




        <!--[endif]-->
    {% endblock %}

    {% block content %}

    <div class="row_article">

      <div class="col-xs-12 col-sm-4 col-lg-4 leftDiv">

            <header id="header" class="inner">

                <a href="/" class="profilepic">
                    <img src="../static/img/ss.png" class="icon">
                 </a>

                <hgroup>
                  <h1 class="author-name">Mr.Yang</h1>
                </hgroup>

                <p class="author-subtitle">人心浮躁，乱象丛生！戒骄戒躁，走向巅峰</p>

                <div class="">

                    <p class="btn btn-primary btn-sm category"><span class="tag">算法&nbsp&nbsp&nbsp</span><span class="badge">10</span></p>
                    <p class="btn btn-primary btn-sm category"><span class="tag">iOS&nbsp&nbsp&nbsp</span><span class="badge">20</span></p>
                    <p class="btn btn-primary btn-sm category"><span class="tag">Python&nbsp&nbsp&nbsp</span><span class="badge">3</span></p>
                    <p class="btn btn-primary btn-sm category"><span class="tag">项目管理&nbsp&nbsp&nbsp</span><span class="badge">3</span></p>
                    <p class="btn btn-primary btn-sm category"><span class="tag">JS&nbsp&nbsp&nbsp</span><span class="badge">1</span></p>
                    <p class="btn btn-primary btn-sm category"><span class="tag">H5&nbsp&nbsp&nbsp</span><span class="badge">3</span></p>

              </div>

             </header>


            </div>
      <div class="col-xs-12 col-sm-8 col-lg-8 rightDiv">

      <div class="col-xs-offset-1 col-sm-offset-1 col-lg-offset-1  col-xs-10 col-sm-10 col-lg-10 blog">
        <div class="blog-main">
        {{article}}
          </div>
          <nav>
            <ul class="pager">
                <li><a class="paging pre">Previous</a></li>
                <li><a class="paging next">Next</a></li>
            </ul>
          </nav>

        </div>

      </div><!-- /.blog-main -->

    </div><!-- /.container -->


    {% endblock %}

    {% block scripts %}
        {{ super() }}
    <script src="../static/js/article.js"></script>
    <script>
        $(document).ready(function () {
            var t = $('.blog-main').text();
            $('.blog-main').html(t);
        });
    </script>
    {% endblock %}