

    <!--<div class="subArticle-tags">-->

        <!--<a href="" class="hidden-xs ">-->

            <!--<span class="label label-success btn">Python</span>-->
        <!--</a>-->

        <!--<a class="visible-xs-inline-block">-->
            <!--<span class="label label-vmaig-2 btn ">...</span>-->
        <!--</a>-->
    <!--</div>-->

<div class="col-xs-6 col-lg-4">

    <div class="thumbnail">
        <a href="#">
              <img id="icon" src="../static/img/b.png" height="30%" width="100%" alt="">
        </a>

        <div class="caption">
            <span class="label label-success btn">Python</span>
            <span class="help-block">2017.8.22</span>
            <h3>Thumbnail label</h3>
            <p>Donec id elit non mi porta gravida at eget metus. F</p>
            <p>
              <a href="/article" class="btn btn-primary" role="button">阅读全文</a>
            </p>
        </div>

    </div>

</div>