

    <!--<div class="subArticle-tags">-->

        <!--<a href="" class="hidden-xs ">-->

            <!--<span class="label label-success btn">Python</span>-->
        <!--</a>-->

        <!--<a class="visible-xs-inline-block">-->
            <!--<span class="label label-vmaig-2 btn ">...</span>-->
        <!--</a>-->
    <!--</div>-->

<div class="col-xs-6 col-lg-4">

    <div class="thumbnail">
        <a href="#">
            <img src="../static/img/a.jpg" height="100" alt="...">
        </a>


        <div class="caption">
          <span class="label label-success btn">Python</span>

          <h3>Thumbnail label</h3>
          <p>Donec id elit non mi porta gravida at eget metus. F</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a>
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p>
        </div>
    </div>

</div>
