<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>Summernote</title>
    <link href="../static/css/postArticle.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.js"></script>
</head>
<body>
  <input class="title" type="text" placeholder="输入文章题目">
  <input class="info"  type="text" placeholder="输入文章概述">
  <input class="tag"   type="text" placeholder="添加tag标签">

  <div id="summernote"><p>Hello Summernote</p></div>
  <div class="col-sm-offset-1 col-md-offset-1  col-lg-offset-1">
      <button type="button" class="btn btn-large btn-primary submit">发布文章</button>
  </div>

  <script src="../static/js/jquery.base64.js"></script>
  <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>

  <script>
    $(document).ready(function() {

//        var $summernote = $('#summernote').summernote({
//            //调用图片上传
//            callbacks: {
//                onImageUpload: function (files) {
//                    alert(files);
//                    sendFile($summernote, files[0]);
//                }
//            }
//        });

        //ajax上传图片
//        function sendFile($summernote, file) {
//            var formData = new FormData();
//            formData.append("file", file);
//
//            $.post('/postArticle', {data:formData}, function (d) {
//                alert('上传成功');
//            });

//            $.ajax({
//                url: ('/postArticle'),//{:U('Upload/upload_img')} 路径是你控制器中上传图片的方法，下面controller里面我会写到
//                data: formData,
//                cache: false,
//                contentType: false,
//                processData: false,
//                type: 'POST',
//                success: function (data) {
//                    $summernote.summernote('insertImage', data, function ($image) {
//                        $image.attr('src', data);
//                    });
//                }
//            });
//        }

         function postImage(data1) {
//             var tmp = {
//                     data: JSON.stringify({
//                        "value":data
//                    })
//             }

//             var tmp = {name:'dd',age:11}
//JSON.stringify(tmp)
             $.ajax({
                 data:data1,
                 type:"POST",
                 url:"/postArticle",
                 contentType: 'application/json; charset=UTF-8',
                 dataType:"json",
                 cache:false,
                 processData:false,
                 success:function (rData) {
                     alert(rData);
                     $('#summernote').summernote('editor.insertImage',"http://res.cloudinary.com/demo/image/upload/butterfly.jpg");
                     alert("success");

                 },
                 error:function () {
                     alert("error");
                 }
             })
         }

         function sendFile(file, editor, $editable){
             var fileName = false;
             try{
                 fileName = file['name'];
                 alert(fileName);
             }catch (e){
                 fileName = false;
             }

             var data = new FormData();

             data.append("TaskFile",file);

             alert(data);

             postImage(data);


         }

//         $('.submit').click(function(){
//                  var text1 = $('#summernote').summernote('code');
//                  alert(text1);
//                  text1 = $.base64.btoa(text1);
//                  text1 = md5(text1);
//                  alert(text1);

//                  var tmp = {blog:text1};
//                  var obj = JSON.stringify(tmp);
//
//               $.ajax({
//                 data:obj,
//                 type:"POST",
//                 url:"/postArticle",
//                 contentType: 'application/json; charset=UTF-8',
//                 dataType:"json",
//                 cache:false,
//                 processData:false,
//                 success:function (rData) {
//                     alert(rData);
//
//                     alert("success");
//
//                 },
//                 error:function () {
//                     alert("error");
//                 }
//             })

                  //自动上传图片
//                  $('#summernote').summernote({
//                       callbacks: {
//                           onImageUpload: function (files, editor, $editable) {
//                                var formData = new FormData();
//                                formData.append('file',files[0]);
//                                $.ajax({
//                                    url:'/postArticle',
//                                    type:'POST',
//                                    data:formData,
//                                    processData:false,
//                                    contentType:false,
//                                    success:function (data) {
//                                        $('#summernote').summernote('insertImage',data,'img');
//                                    }
//                                })
//                           }
//                       }
//                   });
//          });

        $('.submit').click(function () {

            var c = $('#summernote').summernote('code');
            var title = $('.title').val();
            var tag   = $('.tag').val();
            var info  = $('.info').val();

            var tmp = {title:title, info:info, tag:tag, blog:c};
            var jsonData = JSON.stringify(tmp);
            $.ajax({
                 data:jsonData,
                 method:"POST",
                 url:"/postArticle",
                 contentType: 'application/json; charset=UTF-8',
                 dataType:"json",
                 cache:false,
                 processData:false,
                 success:function (rData) {
                     alert(rData);

                     alert("success");

                 },
                 error:function () {
                     alert("error!!");
                 }
            });
        });

       $('#summernote').summernote({
           height:400,                 // set editor height
           lang:'zh-CN',               //语言变为中文
            //上传图片的接口
            callbacks:{      //本文的主题来了，调用官方提供的callbacks接口，用来自定义
              onImageUpload: function(files) {      //onImageUpload代表图片上传事件，默认将图片变为base64的那个事件
                  var data=new FormData();        //html5提供的formdata对象，将图片加载为数据的容器
                  data.append('image_up',files[0]);  //加载选中的第一张图片，并给这图片数据标记一个'image_up'的名称
                  //调用上传图片
                  $.ajax({
                      url: '/uploadImage',     //上传图片请求的路径
                      method: 'POST',            //方法
                      data:data,                 //数据
                      processData: false,        //告诉jQuery不要加工数据
                      contentType: false,        //<code class="javascript comments"> 告诉jQuery,在request head里不要设置Content-Type
                      success: function(data) {  //图片上传成功之后，对返回来的数据要做的事情
                          if (data['message']=='success') {
                              $("#summernote").summernote('insertImage',data['url']);       //调用内部api——insertImage以路径的形式插入图片到文本编辑区
                          }
                          else{
                              alert(data['message']);
                          }
                      }
                  });
               }
            }

       });

    });
  </script>
</body>
</html>
